
.list-tour--body {
    margin-top: 77px;
}

.list-tour--body .filter-section {
    padding: 20px 40px; 
    background-color: #699BF7;
}

.list-tour--body .tour-list--section {
    margin-top: 40px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 30px;
    flex-wrap: wrap;
}
  
.tour-list--section .tour-list--item {
    width: 30%;
    border-radius: 5px; 
    margin-bottom: 30px;
}

.tour-list--item .tour-place--img {
    width: 100%;
    height: 30vh;
    /* background-image: url(../../Assets/Discount.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
  }

.tour-list--item .tour-place--img .tour-type--container {
    padding: 6px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    border-left: 1px solid #081B46;
}
  
.tour-place--img .tour-type--container .clock-icon {
    background-image: url(../../Assets/Clock.svg);
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
  
.tour-place--img .tour-type--container .tour-type--name p {
    margin: 0 10px;
    font-size: 13px;
}
  
.tour-list--item .tour-place--img .rating-numb--container {
    position: absolute;
    right: 0;
    top: 0;
    background-color: #DE9E5B;
    margin: 10px 10px 0 0;
    border-radius: 5px;
}
  
.tour-place--img .rating-numb--container .rating-numb {
    margin-bottom: 0;
    padding: 4px 8px; 
    color: #fff;
    font-weight: bold;
    font-size: 13px;
}
  
.tour-list--item .tour-place--content {
    padding: 15px 15px 20px 15px;
    box-shadow: 2px 4px 2px #888;
    border: 1px solid #081B46;
    border-top: none;
}
  
.tour-list--item .tour-place--content .depart-date {
    color: #081B46; 
    font-size: 14px;
}
  
.tour-list--item .tour-place--content .name-tour {
    font-weight: bold;
    font-size: 20px;
}
  
.tour-place--content .price--sale-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.tour-place--content .price--sale-container .price-container .price--pre-sale {
    text-decoration: line-through;
    margin-bottom: 3px;
}
  
.tour-place--content .price--sale-container .price-container .price--after-sale {
    color: #F43535; 
    font-size: 24px;
    font-weight: bold;
}
  
.tour-place--content .price--sale-container .sale-percent {
    background-color: #F43535;
    border-radius: 10px;
}
  
.tour-place--content .price--sale-container .sale-percent .sale-percent--numb {
    color: #fff;
    font-weight: bold;
    margin-bottom: 0;
    padding: 4px 8px;
    font-size: 14px;
}
  

.tour-list--item .tour-place--content .button--container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.tour-place--content .button--container button {
    border-radius: 10px;
}

.tour-place--content .button--container .booking-tour {
    color: #fff;
    background-color: #F43535;
    border: none;
    font-size: 14px;
    padding: 10px 16px;
}

.tour-place--content .button--container .tour-detail {
    color: #08A0F6;
    border: 2px solid #08A0F6;
    background-color: transparent;
    font-size: 14px;
    padding: 8px 16px;
}

.tour-place--content .count-in-stock {
    margin-bottom: 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

.tour-place--content .count-in-stock span {
    color:#F43535; 
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}